* {
    padding: 0px;
    margin: 0px;
    background-color: black;
    color: white;
    font-family: 'Sorts Mill Goudy', serif;
}

body {
    margin: 0;
    height: 96vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: url("dove/Dove\ Cursor.cur"), auto;
}

h1 {
    text-align: center;
    overflow: hidden;
    line-height: 35px;
}

#btn {
    margin: 0 auto;
    margin-top: 10px;
    display: block;
    padding: 10px 20px;
    border: solid 1px white;
    border-radius: 5px;
    color: white;
    font-size: 20px;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}

#btn:hover {
    box-shadow: rgba(165, 180, 252, 0.5) 0px 0px 10px 6px;
    background-color: #6d01fe;
    border: solid 1px #6d01fe;
}

#year {
    font-size: 50px;
    font-weight: 100;
    background-color: transparent;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
    border: 1px solid rgb(21, 21, 21);
    font-size: 20px;
    box-shadow: rgb(23, 23, 23) 0px -7px 29px 0px;
}
  
li {
    float: left;
}
  
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px 16px;
    text-decoration: none;
}
  
  /* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}

  /* Add a gray right border to all list items, except the last item (last-child) */
li {
    border-right: 1px solid rgb(21, 21, 21);
}
  
li:last-child {
    border-left: 1px solid rgb(21, 21, 21);
}

ul {
    position: fixed;
    bottom: 0;
    width: 100%;
}
  
#name {
    float: right;
}

#name h1 {
    padding: 10px;
    border-right: none;
}

/* Your existing styles remain the same */

@media screen and (max-width: 600px) {
    /* Stack the list items vertically and center them */
    li {
        float: none;
        text-align: center;
        border-bottom: 1px solid rgb(21, 21, 21);
        border-right: none;
        font-size: 15px;
    }

    /* Adjust the bottom border for the last list item */
    li:last-child {
        border-bottom: none;
    }

    #name {
        float: none;
        justify-content: center;
    }

    body {
        height: 70vh;
    }

    h1 {
        font-size: 20px;
        line-height: 20px;
    }

    #year {
        font-size: 33px;
    }
}
